.dataTables_filter {
  float: right;
}
.logo {
  width: 47px;
  float: left;
}
.logo img {
  width: 100%;
  border-radius: 5px;
}
.navbar-brand {
  float: left;
}

#clink-formation {
  text-decoration: unset;
  color: #555;
}
#clink-stagiaire {
  text-decoration: unset;
  color: #555;
}
.avatar-list{
  width: 24px;
  height: 24px;
}
@media (max-width: 767px) {
  .logo {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    margin-left: 3em;
  }
}
@media (min-width: 992px) and (max-width: 1169px) {
  .logo {
    margin-left: 3em;
    margin-right: 1em;
  }
}
@media (min-width: 1170px) {
  .logo {
    margin-left: 0em;
    margin-right: 1em;
  }
}
.logo-login img{
  width: 80px;
}
.small-login{
  margin-left: 20px;
  font-size: 96%;
}
.card-login{
  -moz-box-shadow: 0px -2px 5px 0px #656565;
  -webkit-box-shadow: 0px -2px 5px 0px #656565;
  -o-box-shadow: 0px -2px 5px 0px #656565;
  box-shadow: 0px -2px 5px 0px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=5);
}
.name{
  max-width: 130px;
  font-size: 14px;
}
.email{
  max-width: 150px;
  float: right;
  margin-top: -20px;
  font-size: 14px;
}
.power{
  color: #fff;
}
.today{
  color: #fff;
}

::-ms-browse {
  background: black;
  color: red;
  padding: 1em;
}
::-webkit-file-upload-button {
  background: black;
  color: red;
  padding: 1em;
}